{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div>
    	{% if product.image %}
    	<img width="200" height="350" src="{{ product.image.url }}">
        {% else %}
        <img width="200" height="350" src="{% static "img/no_image.png" %}">
        {% endif %}
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p>${{ product.price }}</p>
        {{ product.description|linebreaks }}
        <p>${{ product.price }}</p>
        <p class="price">${{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    </div>
{% endblock %}