{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% block title %}Shop{% endblock %}</title>
</head>
<body>
{% block content %}
<div>
	<h2>Dynamic content</h2>
	<p><strong>Customers:</strong> {{ num_customers }}</p>
	<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</div>
<div>
    <ul>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>   
          {% if user.is_authenticated %}
          	<li><a href="{% url 'shop:logout' %}">Logout</a></li>
          {% else %}
          	<li><a href="{% url 'shop:register' %}">Register</a></li>
          	<li><a href="{% url 'shop:user_login' %}">Login</a></li>
          {% endif %}
      </ul>
</div>
<div>
	<a href="/">Shop</a>
</div>
<div>
	<div>
		Your cart is empty.
	</div>
</div>
{% endblock %}
{% block categories %}
{% endblock %}
</body>
</html>